@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap");

/* RESET STYLES */
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
  padding: 0;
}

body {
  /* 3. Add accessible line-height */
  /* line-height: 1.5; */
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

/* CUSTOM STYLES STARTS HERE */

:root {
  --accent: #f15025;
  --foreground: #191919;
  --background: #ffffff;

  --heading-font: "Playfair Display", serif;
  --body-font: "Quicksand", serif;
}

html {
  background-color: var(--background);
}

body {
  color: var(--foreground);
  font-family: var(--body-font);
}

h1 {
  font-family: var(--heading-font);
  margin-bottom: 0.5rem;
}

h2 {
  text-transform: uppercase;
}

h2,
strong {
  font-weight: 500;
}

ul,
li {
  list-style: inside;
}

a {
  color: var(--accent);
  text-decoration: none;
  width: fit-content;
  font-size: 1.125rem;
}
a:hover,
a:active,
a:visited {
  color: var(--accent);
  text-decoration: underline;
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.7;
}

.identifier p {
  font-size: 1.25rem;
}

.content-grid {
  --padding-inline: 1.5rem;
  --content-max-width: 85rem;
  --layout-max-width: 90rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding-inline), 1fr)
    [content-start]
    min(100% - (var(--padding-inline) * 2), var(--content-max-width))
    [content-end]
    minmax(var(--padding-inline), 1fr);
  padding-block: 4rem;
  row-gap: 2.5rem;
}
.content-grid > * {
  grid-column: content;
}

hr {
  margin-block: 1rem;
}

section {
  display: grid;
  gap: 1rem;
}

section > :nth-child(2) {
  max-width: 60rem;
}

@media (min-width: 768px) {
  section {
    grid-template-columns: 12rem 1fr;
  }
}

footer {
  padding-bottom: 2rem;
}
